asn1crypto==0.24.0
avro==1.8.2
aws-cfn-bootstrap==1.4
awscli==1.19.44
botocore==1.20.44
CacheControl==0.11.7
certifi==2021.10.8
chardet==4.0.0
colorama==0.4.3
cryptography==2.1.4
cwltool==1.0.20180302231433
decorator==4.4.2
docutils==0.15.2
enum34==1.1.6
futures==3.3.0
html5lib==0.999999999
idna==2.10
ipaddress==1.0.17
iptools==0.7.0
iso8601==1.0.0a1
isodate==0.6.0
jmespath==0.10.0
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
mistune==0.8.3
optcomplete===1.2-devel
paramiko==2.7.2
pyasn1==0.4.8
pycrypto==2.6.1
pygobject==3.26.1
pyOpenSSL==17.5.0
pyparsing==2.2.0
pystache==0.5.4
python-daemon==1.6.1
python-dateutil==2.8.1
pyxdg==0.25
PyYAML==5.4.1
rdflib==4.2.1
rdflib-jsonld==0.4.0
requests==2.26.0
rsa==4.5
ruamel.yaml==0.15.34
s3transfer==0.3.6
schema-salad==2.6.20171201034858
scp==0.13.6
SecretStorage==2.3.1
shellescape==3.4.1
six==1.15.0
SPARQLWrapper==1.7.6
StarCluster==0.95.6
typing==3.6.2
urllib3==1.26.7
webencodings==0.5
workerpool==0.9.4
